.login-div{
  text-align:center;
}
.imgDiv{
  margin: 50px;
}
.loginDiv{
  background-color: white;
  height: 280px;
  width: 450px;
  margin:auto;
  border:1px solid gray;
}
.googleSign{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: 1px solid black;
  cursor:pointer;
  overflow: hidden;
  padding: 5px 15px;
  border-radius: 25px;
  width:100%;
}
.g-icon{
  margin-right: 20px;
}
@media (max-width: 640px)  { 
  .loginDiv{
    width: 300px;
  }
  .googleSign{
    width: 80%;
  }
  .g-icon{
    margin-right: 5px!important;
  }
 }