 .card-img-top {
  width:50% !important;
}
.service{
  border:none!important;
}
.service:hover{
  box-shadow:  20px 20px 40px  #cac9c9;
}

.animated:hover{
  animation: zoomInOut 1s infinite ;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1,1);
}
50% {
    transform: scale(1.2,1.2);
}
100% {
    transform: scale(1,1);
}
}
@media (max-width: 640px)  { 
  .service{
margin:auto;
  }
 }