.input-admin{
    width:40%;
}
.order-fil-upload{
    display:none;
  }
  .style-file-btn{
    width:30%;
    border: 1px solid #009444;
    display: inline;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #DEFFED;
  }
  .icon-label{
    margin-right: 10px;
  }
  @media (max-width: 640px) {
    .icon-label{
      margin:auto;
    }
  }